# Aprendiendo Python
## Parte 1: Básico

In [1]:
# Las líneas con gato (#), son comentarios
# ... pero hay que poner un gato por línea
# ... y lo que está antes del gato no es comentario.
42 # ... es respuesta a la pregunta fundamental a la vida, el universo y todo lo demás.

42

Tanto en la consola de Python como en las libretas de Jupyter, cuando tecleas un valor y lo corres (con [ENTER] o [SHIFT][ENTER], según el caso), se muestra enseguida dicho valor. Un ejemplo de esto es el 42 de la línea anterior.

In [2]:
# Ejemplos de valores en Python
"El respeto al derecho ajeno es la paz."  # cadena

'El respeto al derecho ajeno es la paz.'

In [3]:
'Fernando "el Toro" Valenzuela'  # cadena (por si requieres usar comillas dentro de una cadena)

'Fernando "el Toro" Valenzuela'

In [4]:
"Comillas \"dentro\" de comillas"  # esto es otra forma de poener comillas dentro de comillas

'Comillas "dentro" de comillas'

In [5]:
(2,3,4)  # esto se llama "tupla" en python

(2, 3, 4)

In [6]:
[2,3,4]  # esto se llama "lista" en python

[2, 3, 4]

In [1]:
"""cadena con triple comilla
que puede ocupar varias líneas..."""

'cadena con triple comilla\nque puede ocupar varias líneas...'

En las libretas, sólo el último valor se mostrará. En un programa (archivo con código y terminación '`.py`'), tendrás que usar `print` para mostrar valores, pues los valores por si sólos, como en los ejemplos anteriores, equivalen a comentarios:

In [2]:
"Lo siguiente calcula una suma:"
2+3
4-2   # Jupyter sólo muestra el último valor

2

In [3]:
print(2+3)
print(4-2)  # sin embargo, con print se muestran todos los resultados de una celda

5
2

In [4]:
print("Hola")

Hola

In [5]:
print("""cadena con triple comilla
que puede ocupar varias líneas...""")

cadena con triple comilla
que puede ocupar varias líneas...

In [6]:
print(2 * 3)

6

En Python 2 no es necesario poner paréntesis con el `print`. En Python 3 el `print` DEBE llevar paréntesis. Aquí sólo manejaremos Python 3 ya que el Python 2 (2.7 por ejemplo) pronto se descontinuará su uso.

## Operadores

In [20]:
7 / 3

2.3333333333333335

In [13]:
# División entera de enteros
7 // 3

2

In [14]:
# Módulo = resto de dividir por...
7 % 3

1

In [7]:
# Compara valores (devuelve un valor booleano, verdadero o falso). IMPORTANTE: son DOS signos igual juntos
2 * 3 == 6

True

In [8]:
# 2*3=6   # Esto no funciona!!!

In [151]:
2 + 3 <= 5

True

In [10]:
# Esto quizás no es lo que esperabas, primero hace la multiplicación, resultando un 6, 
# y luego hace un "desplazamiento de bits" hacia la izquierda, esto es 6 == 110b,
# 110b << 5 == 11000000b == 64+128 == 192
2 * 3 << 5

192

## Variables

Para poderte referir a valores se pueden usar "variables", en Python estas son más como _etiquetas_ que se le _cuelgan_ a valores existentes. Los valores en Python se llaman formalmente **objetos**.

In [12]:
x = 5
print(x)

5

In [13]:
y = x**2 + 2*x + 7

In [14]:
print("Valor de x:", x, "Valor de y:", y)

Valor de x: 5 Valor de y: 42

In [15]:
# Todo en Python es objeto...
p = print
p("Hola")

Hola

Como puedes notar, en Python las "variables" no se "declaran" como en otros lenguajes, así su _tipo de dato_ es el del objeto que en ese momento tienen asignado.

In [3]:
x = 5
y = 7.3
z = "hola, soy una cadena!"
w = type(5),  type(x), type(y), type(z)
print(w, type(w))

(<class 'int'>, <class 'int'>, <class 'float'>, <class 'str'>) <class 'tuple'>

Todo objeto en Python tiene un _identificador_ único (difiere con cada corrida del programa). Pero nota como la variable no es un objeto por si misma, si no que es únicamente el objeto que tiene asignado:

In [24]:
x = 5
y = 5
print("id(5):", id(5))
print("id(x):", id(x))  # El mismo que 5
print("id(y):", id(y))  # el mismo que 5
print("id(6):", id(6))  # otro valor

id(5): 4297366624
id(x): 4297366624
id(y): 4297366624
id(6): 4297366656

En Python se pueden hacer listas de lo que sea... algunos las usan como arreglos o matrices, aunque no son muy veloces. Pero son muy útiles para pequeñas aplicaciones.

In [25]:
a = [1, 2, 3]
b = [4, 5, 6]
print(a)
print(b)
print(a+b)  # '+' concatena listas (crea una nueva lista), en Numpy veremos como sumar elemento por elemento.

[1, 2, 3]
[4, 5, 6]
[1, 2, 3, 4, 5, 6]

Las listas son muy flexibles, aunque eso tiene un precio en espacio y tiempo de ejecución:

In [4]:
a = ["cabeza", ["pancita", [1, 2, 3, "etc."]], "colita"]
print(a)
print("lista de", len(a), "elementos")  # numero de elementos de la lista (en su nivel más exterior)
print("Primero:", a[0])
print("Segundo:", a[1])
print("Tercero:", a[2])

['cabeza', ['pancita', [1, 2, 3, 'etc.']], 'colita']
lista de 3 elementos
Primero: cabeza
Segundo: ['pancita', [1, 2, 3, 'etc.']]
Tercero: colita

Un objeto se destruye (deja de ocupar memoria) si no hay variables que lo tengan asignado. Basta con reasignar una variable para "destruir" el objeto que contenía. Así en Python no tienes que preocuparte (mucho) por destruir objetos, se destruyen cuando ya no los usas.

In [27]:
x = list(range(1000000))
print("x es una lista de", len(x), "enteros")
import sys
print("x ocupa", sys.getsizeof(x), "bytes")
x = 5
print("x ahora es un sólo entero")
print("x ahora ocupa", sys.getsizeof(x), "bytes")

x es una lista de 1000000 enteros
x ocupa 9000112 bytes
x ahora es un sólo entero
x ahora ocupa 28 bytes

## Iteraciones

In [28]:
print("poly quiere una galleta, " * 3)

poly quiere una galleta, poly quiere una galleta, poly quiere una galleta,

In [29]:
# las repeticiones de cadenas pueden ser más complicadas
print(("* "*5+"\n")*10)

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [10]:
print("uno", 1, sep="chivito")
print("dos", 2, end="=====")
print("tres", 3)
print("uno", "siete", sep=",", end="--")
print("cuatro", "cinco", "seis", sep=",")

unochivito1
dos 2=====tres 3
uno,siete--cuatro,cinco,seis

In [35]:
# for sirve para "iterar" sobre una lista o tupla
frutas = ['mango', 'plátano', 'pera', 'manzana']
for f in frutas:
    print("quiero", f)

for elemento in frutas:
    print((elemento + " ")* 5)
    print("Me gusta el", elemento)
    
for i in range(1, 11):
    print(i, sep="..", end="--")

print(list(range(7,-6,-1)))
print(list(range(2, 11, 2)))
for n in range(7, -10, -2):
    print(n, n**2)

n = 1
for x in range(20):
    print(n, "x", 3, "=", n * 3)
    n += 0.1

quiero mango
quiero plátano
quiero pera
quiero manzana
mango mango mango mango mango
Me gusta el mango
plátano plátano plátano plátano plátano
Me gusta el plátano
pera pera pera pera pera
Me gusta el pera
manzana manzana manzana manzana manzana
Me gusta el manzana
1--2--3--4--5--6--7--8--9--10--[7, 6, 5, 4, 3, 2, 1, 0, -1, -2, -3, -4, -5]
[2, 4, 6, 8, 10]
7 49
5 25
3 9
1 1
-1 1
-3 9
-5 25
-7 49
-9 81
1 x 3 = 3
1.1 x 3 = 3.3000000000000003
1.2000000000000002 x 3 = 3.6000000000000005
1.3000000000000003 x 3 = 3.900000000000001
1.4000000000000004 x 3 = 4.200000000000001
1.5000000000000004 x 3 = 4.500000000000002
1.6000000000000005 x 3 = 4.800000000000002
1.7000000000000006 x 3 = 5.100000000000001
1.8000000000000007 x 3 = 5.400000000000002
1.9000000000000008 x 3 = 5.700000000000003
2.000000000000001 x 3 = 6.000000000000003
2.100000000000001 x 3 = 6.3000000000000025
2.200000000000001 x 3 = 6.600000000000003
2.300000000000001 x 3 = 6.900000000000004
2.4000000000000012 x 3 = 7.200000000000004
2.5000000000000013 x 3 = 7.5000000000000036
2.6000000000000014 x 3 = 7.800000000000004
2.7000000000000015 x 3 = 8.100000000000005
2.8000000000000016 x 3 = 8.400000000000006
2.9000000000000017 x 3 = 8.700000000000005

In [95]:
print(list(range(10)))  # 0 .. 9
print(list(range(1, 11)))  # 1 .. 10
print(list(range(1, 11, 2)))  # de dos en dos
print(list(range(10, 0, -1)))
print(list(range(100, -2, -2)))
print(list(range(-5, 6)))
matriz1=[[1,2,3],[4,5,6]]
print(matriz1)
matriz2=[[6,6,6],[7,7,7]]
print(matriz2)
resultado = matriz1 + matriz2
print(resultado)
print("renglones:", len(resultado))
print("columnas:", len(resultado[0]))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[100, 98, 96, 94, 92, 90, 88, 86, 84, 82, 80, 78, 76, 74, 72, 70, 68, 66, 64, 62, 60, 58, 56, 54, 52, 50, 48, 46, 44, 42, 40, 38, 36, 34, 32, 30, 28, 26, 24, 22, 20, 18, 16, 14, 12, 10, 8, 6, 4, 2, 0]
[-5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5]
[[1, 2, 3], [4, 5, 6]]
[[6, 6, 6], [7, 7, 7]]
[[1, 2, 3], [4, 5, 6], [6, 6, 6], [7, 7, 7]]
renglones: 4
columnas: 3

In [26]:
a=["uno", "dos", "tres"]
indice = 0
for numero in a:
    print(indice, numero)
    indice += 1

a[0]

0 uno
1 dos
2 tres

'uno'

In [27]:
a=["uno", "dos", "tres"]
for indice, numero in enumerate(a):
    print(indice, numero)

0 uno
1 dos
2 tres

In [77]:
# En Python, al contrario de otros lenguajes, no se suele iterar incrementando un entero
# e indexar un iterable con él, aunque es posible, sino que se itera sobre objetos "iterables",
# una lista o tupla, por ejemplo, y de ser necesario, se puede recuperar el índice 
# del elemento actual de diversas formas, con un contador, o con enumerate:
for i, f in enumerate(frutas):
    print(i + 1, ": ", sep='', end="")
    print("quiero", f)

1: quiero frambuesa
2: quiero mango
3: quiero plátano
4: quiero manzana
5: quiero kiwi
6: quiero pera
7: quiero fresa
8: quiero aguacate

In [49]:
print("La", frutas[2], "es muy jugosa!")  # después de una coma y alrededor de operadores se
                                          # acostumbra dejar espacios en blanco por claridad

La pera es muy jugosa!

In [50]:
# el último elemento de toda lista tiene índice -1, el penúltimo -2, etc.
print("Una", frutas[-1], "al día trae salud y alegría.")

Una manzana al día trae salud y alegría.

In [36]:
print(frutas)

['mango', 'plátano', 'pera', 'manzana']

In [23]:
for desplazamiento in range(26):
    inicio = ord('A') + desplazamiento
    final = ord('Z') + desplazamiento

    for letra in range(inicio, final + 1):
        if letra > 90:
            letra -= 26
        print(chr(letra), end=" ")
    print()

A B C D E F G H I J K L M N O P Q R S T U V W X Y Z
B C D E F G H I J K L M N O P Q R S T U V W X Y Z A
C D E F G H I J K L M N O P Q R S T U V W X Y Z A B
D E F G H I J K L M N O P Q R S T U V W X Y Z A B C
E F G H I J K L M N O P Q R S T U V W X Y Z A B C D
F G H I J K L M N O P Q R S T U V W X Y Z A B C D E
G H I J K L M N O P Q R S T U V W X Y Z A B C D E F
H I J K L M N O P Q R S T U V W X Y Z A B C D E F G
I J K L M N O P Q R S T U V W X Y Z A B C D E F G H
J K L M N O P Q R S T U V W X Y Z A B C D E F G H I
K L M N O P Q R S T U V W X Y Z A B C D E F G H I J
L M N O P Q R S T U V W X Y Z A B C D E F G H I J K
M N O P Q R S T U V W X Y Z A B C D E F G H I J K L
N O P Q R S T U V W X Y Z A B C D E F G H I J K L M
O P Q R S T U V W X Y Z A B C D E F G H I J K L M N
P Q R S T U V W X Y Z A B C D E F G H I J K L M N O
Q R S T U V W X Y Z A B C D E F G H I J K L M N O P
R S T U V W X Y Z A B C D E F G H I J K L M N O P Q
S T U V W X Y Z A B C D E F G H I J K L M N O P Q R
T U V W X Y Z A B C D E F G H I J K L M N O P Q R S
U V W X Y Z A B C D E F G H I J K L M N O P Q R S T
V W X Y Z A B C D E F G H I J K L M N O P Q R S T U
W X Y Z A B C D E F G H I J K L M N O P Q R S T U V
X Y Z A B C D E F G H I J K L M N O P Q R S T U V W
Y Z A B C D E F G H I J K L M N O P Q R S T U V W X
Z A B C D E F G H I J K L M N O P Q R S T U V W X Y

In [60]:
for desplazamiento in range(26):
    inicio = ord('A')
    final = ord('Z')

    for letra in range(inicio, final + 1):
        letra = (letra - inicio + desplazamiento) % 26 + inicio
        print(chr(letra), end=" ")
    print()
print("tan tan")

A B C D E F G H I J K L M N O P Q R S T U V W X Y Z
B C D E F G H I J K L M N O P Q R S T U V W X Y Z A
C D E F G H I J K L M N O P Q R S T U V W X Y Z A B
D E F G H I J K L M N O P Q R S T U V W X Y Z A B C
E F G H I J K L M N O P Q R S T U V W X Y Z A B C D
F G H I J K L M N O P Q R S T U V W X Y Z A B C D E
G H I J K L M N O P Q R S T U V W X Y Z A B C D E F
H I J K L M N O P Q R S T U V W X Y Z A B C D E F G
I J K L M N O P Q R S T U V W X Y Z A B C D E F G H
J K L M N O P Q R S T U V W X Y Z A B C D E F G H I
K L M N O P Q R S T U V W X Y Z A B C D E F G H I J
L M N O P Q R S T U V W X Y Z A B C D E F G H I J K
M N O P Q R S T U V W X Y Z A B C D E F G H I J K L
N O P Q R S T U V W X Y Z A B C D E F G H I J K L M
O P Q R S T U V W X Y Z A B C D E F G H I J K L M N
P Q R S T U V W X Y Z A B C D E F G H I J K L M N O
Q R S T U V W X Y Z A B C D E F G H I J K L M N O P
R S T U V W X Y Z A B C D E F G H I J K L M N O P Q
S T U V W X Y Z A B C D E F G H I J K L M N O P Q R
T U V W X Y Z A B C D E F G H I J K L M N O P Q R S
U V W X Y Z A B C D E F G H I J K L M N O P Q R S T
V W X Y Z A B C D E F G H I J K L M N O P Q R S T U
W X Y Z A B C D E F G H I J K L M N O P Q R S T U V
X Y Z A B C D E F G H I J K L M N O P Q R S T U V W
Y Z A B C D E F G H I J K L M N O P Q R S T U V W X
Z A B C D E F G H I J K L M N O P Q R S T U V W X Y
tan tan

In [65]:
"El respeto al derecho ajeno es la paz".split()

['El', 'respeto', 'al', 'derecho', 'ajeno', 'es', 'la', 'paz']

In [29]:
chr(97)

'a'

In [63]:
a = "abra"
b = "kadabra"
for i in range(10):
    print(a + b * i)

abra
abrakadabra
abrakadabrakadabra
abrakadabrakadabrakadabra
abrakadabrakadabrakadabrakadabra
abrakadabrakadabrakadabrakadabrakadabra
abrakadabrakadabrakadabrakadabrakadabrakadabra
abrakadabrakadabrakadabrakadabrakadabrakadabrakadabra
abrakadabrakadabrakadabrakadabrakadabrakadabrakadabrakadabra
abrakadabrakadabrakadabrakadabrakadabrakadabrakadabrakadabrakadabra

In [68]:
y = "El respeto al derecho ajeno es la paz"
x = ""
for i in y.split():
    x = x + i + "pa "
print(x)

Elpa respetopa alpa derechopa ajenopa espa lapa pazpa

In [72]:
y = "El respeto al derecho ajeno es la paz"
x = list()
for i in y.split():
    x.extend([i, "pa "])
print("".join(x))

Elpa respetopa alpa derechopa ajenopa espa lapa pazpa

In [37]:
print(frutas * 5)

['mango', 'plátano', 'pera', 'manzana', 'mango', 'plátano', 'pera', 'manzana', 'mango', 'plátano', 'pera', 'manzana', 'mango', 'plátano', 'pera', 'manzana', 'mango', 'plátano', 'pera', 'manzana']

In [33]:
a = [1,2,3]
b = a + [5]
b

[1, 2, 3, 5]

In [39]:
# agrega un nuevo elemento a la lista
frutas.append("aguacate")
print(frutas)
# print(frutas + "chicozapote")  # no funciona, lo de la derecha no es una lista
print(frutas + ["chicozapote"])  # nótese que es indispensable poner las comillas, los corchees dicen que es lista
frutas

['mango', 'plátano', 'pera', 'manzana', 'aguacate', 'aguacate']
['mango', 'plátano', 'pera', 'manzana', 'aguacate', 'aguacate', 'chicozapote']

['mango', 'plátano', 'pera', 'manzana', 'aguacate', 'aguacate']

In [42]:
frutas = ['mango', 'plátano', 'pera', 'manzana', 'aguacate']
frutas.extend(["fresa", "kiwi", "frambuesa"]) # agrega varias de una vez
import random  # trae el módulo para aleatorizar
random.shuffle(frutas) # revuelve la lista
for _ in frutas:
    print("quiero más", _)  # se puede poner una expresión de una sola linea
                                         # aunque se desaconseja

quiero más mango
quiero más plátano
quiero más pera
quiero más frambuesa
quiero más manzana
quiero más fresa
quiero más kiwi
quiero más aguacate

In [43]:
frutas.append(("granada", "uva", "piña"))
frutas

['mango',
 'plátano',
 'pera',
 'frambuesa',
 'manzana',
 'fresa',
 'kiwi',
 'aguacate',
 ('granada', 'uva', 'piña')]

In [38]:
# Las tuplas son como las listas pero NO se pueden modificar
# por ello son más rápidas y ocupan menos espacio
x = tuple(range(1000000))
print("x ocupa", sys.getsizeof(x), "bytes")

x ocupa 8000048 bytes

In [47]:
x = [1,2,3]
x[0]=9
x

[9, 2, 3]

In [54]:
x = (1, 2, 3)
# x.append(4)    # error!
print(x[0])
x = list(x)
x[0]=9
x = tuple(x)
x

1

(9, 2, 3)

In [55]:
# En Python existen las asignaciones a tuplas de variables desde un iterable
a, b, c = x
print("a =", a)
print("b =", b)
print("c =", c)

a = 9
b = 2
c = 3

In [56]:
b, c, a = a, b, c
print("a =", a)
print("b =", b)
print("c =", c)

a = 3
b = 9
c = 2

In [57]:
x = 5
y = 7
x, y = y, x  # intercambia dos valores
print("x =",x, ", y =", y)

x = 7 , y = 5

In [58]:
# En Python es NECESARIO indentar (poner una cantidad fija de blancos al inicio de una fila)
# para indicar filas dentro de un bloque. Como hemos visto, el "for" lleva ":" al final,
# indicando que lo que viene es una expresión o un bloque de estas.
for fila in range(5):
    for columna in range(7):
        print((fila, columna), end="  ") # en vez de cambiar de línea, se imprime lo de "end"
    print() # este print está fuera del 2o ciclo, pero dentro del primero

print("Esto está afuera de los 'for'")

(0, 0)  (0, 1)  (0, 2)  (0, 3)  (0, 4)  (0, 5)  (0, 6)
(1, 0)  (1, 1)  (1, 2)  (1, 3)  (1, 4)  (1, 5)  (1, 6)
(2, 0)  (2, 1)  (2, 2)  (2, 3)  (2, 4)  (2, 5)  (2, 6)
(3, 0)  (3, 1)  (3, 2)  (3, 3)  (3, 4)  (3, 5)  (3, 6)
(4, 0)  (4, 1)  (4, 2)  (4, 3)  (4, 4)  (4, 5)  (4, 6)
Esto está afuera de los 'for'

In [44]:
for i in range(8):
    print(" " * (i%2) + " " * 8)

       
        
       
        
       
        
       
        

In [101]:
for i in range(10):
    print("◊ " * i)
for i in range(10):
    for j in range(i):  # se puede sustituir por multiplicaciones
        print("  ", end="")
    print("√√", end="")
    for j in range(19 - 2 * i):  # se puede sustituir por multiplicaciones
        print("  ", end="")
    print("√√")

for i in range(10):
    print("  " * i, end="")
    print("√√", end="")
    print("  " * (18 - 2 * i), end="")
    print("√√")

◊
◊ ◊
◊ ◊ ◊
◊ ◊ ◊ ◊
◊ ◊ ◊ ◊ ◊
◊ ◊ ◊ ◊ ◊ ◊
◊ ◊ ◊ ◊ ◊ ◊ ◊
◊ ◊ ◊ ◊ ◊ ◊ ◊ ◊
◊ ◊ ◊ ◊ ◊ ◊ ◊ ◊ ◊
√√                                      √√
  √√                                  √√
    √√                              √√
      √√                          √√
        √√                      √√
          √√                  √√
            √√              √√
              √√          √√
                √√      √√
                  √√  √√
√√                                    √√
  √√                                √√
    √√                            √√
      √√                        √√
        √√                    √√
          √√                √√
            √√            √√
              √√        √√
                √√    √√
                  √√√√

In [61]:
for renglón in range(10):
    print(' '*renglón, end="")
    print('√√', end="")
    print(' '*(38-4*renglón))
    print('√√', end="")

√√
√√ √√
√√  √√
√√   √√
√√    √√
√√     √√
√√      √√
√√       √√
√√        √√
√√         √√
√√

# Condiciones

In [ ]:
"7"  # cadena que contiene al numero 7
7    # entero 7
7.0  # 7 de tipo punto flotante (puede tener decimales)

In [3]:
fulanito = input("Dame tu nombre:")
print("hola",fulanito)

Dame tu nombre:Felipe
hola Felipe

In [6]:
x = float(input("dame un numero:"))
print(x+2)

dame un numero:7
9.0

In [2]:
x = int(input("Dime un número: "))
if x % 2 == 0:
    print("El número {} es par".format(x))
else:
    print("El número {} es impar".format(x))

Dime un número: 7
El número 7 es impar

In [11]:
float("7.0")+3

10.0

In [12]:
frutas = ['mango', 'plátano', 'peras', 'manzana', 'aguacates', "fresas", "kiwi", "frambuesa"]
for f in frutas:
    plural = False
    artículo = "el"
    if f[-1] == 'a':  # la última letra
        artículo = 'la'
    elif f[-2:] == 'as':  # las dos últimas letras
        artículo = 'las'
        plural = True  # línea indentada igual que la anterior, están en el mismo bloque
    elif f[-1] == 's':  # en python no hay "switch", hay que usar "elif" para opciones
        artículo = 'los'
        plural = True
    #else:
    #    artículo = 'el'
    print("Me gusta{} mucho {} {}".format('n' if plural else '', artículo, f))
    # nótese la forma de utilizar el operador ternario condicional para agregar o no una 'n'

Me gusta mucho el mango
Me gusta mucho el plátano
Me gustan mucho las peras
Me gusta mucho la manzana
Me gustan mucho los aguacates
Me gustan mucho las fresas
Me gusta mucho el kiwi
Me gusta mucho la frambuesa

## Funciones y procedimientos
En Python se usa `def` para definir una función (se suele llamar "procedimiento" a una función que no devuelve valores, ambas usan `def`).

In [15]:
def función(x):   # a la x se le llama "parámetro"
    return x ** 2 - 4

print("** El 5 evaluado en la función:", función(5))
renombrada = función  # ahora también podemos usar el nombre 'g'
print("El 5 evaluado en la función renombrada:", renombrada(5))

def procedimiento(x, y):
    return "La suma es:" + str(x + y)
    
print("** Ahora llamaremos al procedimiento...")
procedimiento(2, 3)

print("** No tiene sentido imprimir el resultado de un procedimiento.\nPython imprime \"None\" después de ejecutar el procedimiento.")
print(procedimiento(7, 3))

** El 5 evaluado en la función: 21
El 5 evaluado en la función renombrada: 21
** Ahora llamaremos al procedimiento...
** No tiene sentido imprimir el resultado de un procedimiento.
Python imprime "None" después de ejecutar el procedimiento.
La suma es:10

Ejemplo: Busca una raíz de func en el intervalo [a,b]

In [19]:
def newton(a, b, func):
    """
        newton(a, b, func): - Encuentra una raíz de la función "func" dentro del intervalo [a,b]
            Nota: func(a) debe tener signo contrario que func(b)
    """
    a, b = float(a), float(b)
    iteraciones = 0
    permitido = 1e-20  # tolerancia permitida
    error = 1  # incializa variable "error" a algo mayor que permitido
    if func(a) * func(b) > 0:  # error si los extremos evaluados tienen el mismo signo
        return '"error"', 0
    while error > permitido:
        iteraciones += 1  # python no tiene ++  :(
        c = (a + b) / 2
        for x in a, b, c:
            if func(x) == 0: return x, iteraciones
        if func(a) * func(c) < 0:  # si f(a) y f(c) tienen signos contrarios, hay raiz
            b = c
        else:
            a = c
        error = abs(func(c))
    return c, iteraciones

def func(x):
    return x ** 2 - 4

r = newton(0, 1000000, func)
print("Obtuve la raiz {} en {} iteraciones".format(r[0], r[1]))
print("Obtuve la raiz {} en {} iteraciones".format(*r))  # esto se llama "desempaquetamiento"

Obtuve la raiz 2.0 en 71 iteraciones
Obtuve la raiz 2.0 en 71 iteraciones

Hay que tratar con cuidado variables definidas fuera de una función

In [21]:
a = 5

def f(x):
    return x + a

print("a=", a)
print("f(6)=", f(6))

a = 3
print("a=", a)
print("f(6)=", f(6))  # uso peligroso de a, por no tener control sobre cuando se modifica, aquí f(6) da valores diferentes

print("a=", a)
def g(x):
    a = 7
    return x + a

print("g(6)=", g(6))  # en general se preferirá la variable local a la función

def h(x):
    a+=5
    return x + a

#print("h(6)=", h(6))  # esto no funciona: la "a" es global, sin embargo se trata como local al incrementarla

print("a=", a)
def i(x):
    #global a
    a = 15
    return x + a

print("i(6)=", i(6))  # al indicar que la "a" que se utilizará es la global
print("a=", a)  # si cambia la "a" externa

a= 5
f(6)= 11
a= 3
f(6)= 9
a= 3
g(6)= 13
a= 3
i(6)= 21
a= 15

Ejemplo: Localicemos el máximo y el mínimo de una lista de valores aleatorios

In [51]:
# Localizar los valores mínimos y máximos de una lista

from random import random

n = 100
lista = []
for i in range(n):
    lista.append(random())

valor_min = 1e30
valor_max = -1e30
for valor in lista:
    if valor > valor_max:
        valor_max = valor
    if valor < valor_min:
        valor_min = valor

print("El mínimo fué:", valor_min, "y el máximo fué:", valor_max)

# otra forma

print("El mínimo fué:", min(lista), "y el máximo fué:", max(lista))

El mínimo fué: 0.008397426077954462 y el máximo fué: 0.9983675514436424
El mínimo fué: 0.008397426077954462 y el máximo fué: 0.9983675514436424

In [22]:
# Localizar si se encuentra un 42 en una lista
from random import randint

n = 100
lista = []
for i in range(n):
    lista.append(randint(1, 100))

esta = False
for valor in lista:
    if valor == 42:
        esta = True
        break

if esta:
    print("Si se encontró el 42")
else:
    print("No se encontró el 42")

Si se encontró el 42

In [53]:
for i in range(n):
    if lista[i] == 42:
        break

if lista[i] == 42: # terminó y el valor es el buscado
    print("Si se encontró el 42")
    #print(i)  #posición
else:  # sólo terminó
    print("No se encontró el 42")

No se encontró el 42

In [54]:
#Otra forma

if 42 in lista:
    print("Si se encontró el 42")
else:
    print("No se encontró el 42")

No se encontró el 42

In [23]:
# otra forma de obtener la posición del 42
if 42 in lista:   # hay qu everificar que se encuentre, si no, marca error
    print("El 42 se encuentra en la posición:", lista.index(42))
    # cuantas veces aparece el 42 en la lista?
    print("El 42 aparece", lista.count(42), "veces en la lista.")

El 42 se encuentra en la posición: 18
El 42 aparece 2 veces en la lista.

En general se debe preferir utilizar funciones de biblioteca en vez de iteraciones con `for`, debido a que son más rápidas al ser programados en lenguajes de bajo nivel (ensamblador o a veces en C).

### rebanadas

In [56]:
# esto es una lista (excepto las operaciones de asignación,
#  estas operaciones se aplican también a tuplas y a cadenas)

vocales = ['a', 'e', 'i', 'o', 'u']
# El primer elemento de una lista
print("primero la", vocales[0])
# El último elemento de una lista
print("al último la", vocales[-1])
# El penúltimo
print("antes del último", vocales[-2])
# Las primeras 3
print("primeras 3", vocales[:3])
# De la cuarta al final
print("desde la 4a", vocales[3:])
# Las últimas 3
print("últimas 3", vocales[-3:])
# del índice 1 al 3
print("1 al 3", vocales[1:4])
# ahora al revés
print("3 al 1", vocales[3:0:-1])
# posiciones pares
print("pares", vocales[::2])
# posiciones impares
print("impares", vocales[1::2])
# reemplaza la de enmedio
vocales[len(vocales)//2]='I'
print("reemplazada la de enmedio", vocales)
vocales[:2]=['A', 'E']
print("reemplazadas las dos primeras", vocales)
vocales[3:]=range(2)
print("reemplaza de la 3 al final", vocales)

primero la a
al último la u
antes del último o
primeras 3 ['a', 'e', 'i']
desde la 4a ['o', 'u']
últimas 3 ['i', 'o', 'u']
1 al 3 ['e', 'i', 'o']
3 al 1 ['o', 'i', 'e']
pares ['a', 'i', 'u']
impares ['e', 'o']
reemplazada la de enmedio ['a', 'e', 'I', 'o', 'u']
reemplazadas las dos primeras ['A', 'E', 'I', 'o', 'u']
reemplaza de la 3 al final ['A', 'E', 'I', 0, 1]

## Cuidados con los objetos mutables en Python
Un objeto es mutable si se le puede cambiar uno de sus elementos constituyentes. Una lista es un ejemplo de objeto mutable. Los enteros no son mutables, tampoco las cadenas ni las tuplas.

In [57]:
a = [4, 5, 6]
b = a * 4
print(b)
a[0] = 8 # el primer elemento de a cambió.
print("a=", a)
print("b=", b) # b no contiene mutables, aunque b si sea mutable

[4, 5, 6, 4, 5, 6, 4, 5, 6, 4, 5, 6]
a= [8, 5, 6]
b= [4, 5, 6, 4, 5, 6, 4, 5, 6, 4, 5, 6]

In [58]:
a = 5
c = [a, a, a, a]
print(c)
a = 7  # a ahora está asociada al objeto 7
print(c)  # c sigue conteniendo 4 copias del objeto 5

[5, 5, 5, 5]
[5, 5, 5, 5]

In [59]:
a = [4, 5, 6]
b = [a] * 4
print("a=", a, "b=", b) # b es una lista que contiene 4 *copias* del objeto [4,5,6]
a[0] = 3 # a está asociada al objeto [4,5,6], el cual es "mutable" y aquí lo modificamos
print("a=", a, "b=", b)

a= [4, 5, 6] b= [[4, 5, 6], [4, 5, 6], [4, 5, 6], [4, 5, 6]]
a= [3, 5, 6] b= [[3, 5, 6], [3, 5, 6], [3, 5, 6], [3, 5, 6]]

In [60]:
c = [a, a, a, a] # esto es equivalente a como se construyó b
print("c=", c)
a[0] = 12
print("a=", a)
print("c=", c)  # contiene 4 copias del objeto a y como este cambió, c refleja esos cambios
c[0] = 3
c[1][0] = 30
print("c=", c) # el primer elemento de c es ahora inmutable

c= [[3, 5, 6], [3, 5, 6], [3, 5, 6], [3, 5, 6]]
a= [12, 5, 6]
c= [[12, 5, 6], [12, 5, 6], [12, 5, 6], [12, 5, 6]]
c= [3, [30, 5, 6], [30, 5, 6], [30, 5, 6]]

In [61]:
# inicializaciones de matrices
a = [[]] * 10
print(a) # lista de listas vacías (copias de la misma lista vacía)
a[0].append(1) # agrega un elemento a la lista vacía en la primera posición
print(a) # como es la misma lista (que era vacía y ahora tiene un 1), eso se ve en las copias
a[0][0] = 2 # modificamos una de las listas para que ahora tenga un 2
print(a)
a = [[0]] * 10  # lo mismo sucede si empezamos con a = [[0]] * 10
print(a)
a[0][0] = 2
print(a)
# Lo mejor para inicializar una matriz es:
a = []
for i in range(3):
    b = []
    for j in range(5):
        b.append(0)
    a.append(b)
print(a)
# o utilizando comprensiones de listas
a = [[0 for j in range(5)] for i in range(3)]
print(a)
a[0][3] = 2
print(a)

[[], [], [], [], [], [], [], [], [], []]
[[1], [1], [1], [1], [1], [1], [1], [1], [1], [1]]
[[2], [2], [2], [2], [2], [2], [2], [2], [2], [2]]
[[0], [0], [0], [0], [0], [0], [0], [0], [0], [0]]
[[2], [2], [2], [2], [2], [2], [2], [2], [2], [2]]
[[0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0]]
[[0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0]]
[[0, 0, 0, 2, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0]]

In [134]:
[x+1 for x in range(10)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [62]:
# Si se desea, se puede crear una lista de listas vacías independientes con estos métodos
a = [[] for i in range(10)]
a[0].append(7)
a[5].append(12)
print(a)

[[7], [], [], [], [], [12], [], [], [], []]

In [63]:
def añade(número, valor=5):
    "Ejemplo de valores por default."
    return número + valor

print(añade(2, 9))
print(añade(3))

11
8

In [64]:
# Tener cuidado al usar un objeto mutable como default
def añade(número, lista=[]):
    lista.append(número)
    print("id(lista)=", id(lista), "lista=", lista)

añade(3)
añade(4)
añade(5)
añade(6, [])
# el cuidado se debe tener pues a veces se puede asumir que el valor mutable default es el que
# continuará utilizándose. El mutable asignado a un valor default continuará siendo el mismo
# objeto mientras no se use un nuevo valor para ese objeto.

id(lista)= 4358691336 lista= [3]
id(lista)= 4358691336 lista= [3, 4]
id(lista)= 4358691336 lista= [3, 4, 5]
id(lista)= 4358691144 lista= [6]

In [ ]:
def añade(número, lista="lista vacía"):
    if lista == "lista vacía":
        lista = []
    lista.append(número)
    print("id(lista)=", id(lista), "lista=", lista)

añade(3)
añade(4)
añade(5)
añade(6, [])

## Parámetros

In [65]:
lista_nominal = []
def ciudadano(nombre, edad, sexo, domicilio, folio):
    lista_nominal.append((nombre, edad, sexo, domicilio, folio))
    print("Nombre={}\nEdad={}\nSexo={}\nDomicilio={}\nFolio={}".format(nombre, edad, sexo, domicilio, folio))

In [66]:
ciudadano("CONTRERAS ALCALA FELIPE HUMBERTO", 42, "H", "C LUISA 59 301 COL NATIVITAS ...", 123456)

Nombre=CONTRERAS ALCALA FELIPE HUMBERTO
Edad=42
Sexo=H
Domicilio=C LUISA 59 301 COL NATIVITAS ...
Folio=123456

In [67]:
print(lista_nominal)

[('CONTRERAS ALCALA FELIPE HUMBERTO', 42, 'H', 'C LUISA 59 301 COL NATIVITAS ...', 123456)]

In [68]:
ciudadano("SAUL", sexo="H", edad=33, folio=999666, domicilio="El viejo oeste")

Nombre=SAUL
Edad=33
Sexo=H
Domicilio=El viejo oeste
Folio=999666

In [69]:
print(lista_nominal)

[('CONTRERAS ALCALA FELIPE HUMBERTO', 42, 'H', 'C LUISA 59 301 COL NATIVITAS ...', 123456), ('SAUL', 33, 'H', 'El viejo oeste', 999666)]

In [70]:
# al no declarar el tipo de parámetro, las funciones pueden tener múltiples usos
def duplica(cadena):
    print(cadena * 2)

duplica("lorito ")
duplica(7)
duplica(["manzana", "kiwi", "huaya"])

lorito lorito
14
['manzana', 'kiwi', 'huaya', 'manzana', 'kiwi', 'huaya']

In [71]:
def duplica_cad(cadena):
    if isinstance(cadena, str):
        print(cadena * 2)
    else:
        print("ERROR!")

print("Duplicando perro...")
duplica_cad("perro ")
print("Duplicando un entero...")
duplica_cad(56)

Duplicando perro...
perro perro
Duplicando un entero...
ERROR!

In [72]:
# esto es una tupla, al igual que las listas, sus elementos pueden ser lo que sea
x=('a', ['b', 'c'], 'd')
type(x)

tuple

In [73]:
# sus elementos se muestran igual que con las listas
print(x[0])

a

In [74]:
# x[0]='t'   esto produce error, no se puede asignar a elementos de tuplas

In [75]:
# sin embargo, el elemento 1 es una lista, y esa si es mutable
print(x[1])

['b', 'c']

In [76]:
#cambiando el valor de la lista
x[1][0]='t'

In [77]:
x

('a', ['t', 'c'], 'd')

In [78]:
# x[1]=['h', 'i']  # no podemos modificar el elemento de la tupla!

In [79]:
id(x)

4358824584

In [80]:
id(x[0])

4300403184

In [81]:
id(x[1])

4358691976

In [82]:
id(x[2])

4300486560

In [83]:
x[1][0]='h'

In [84]:
x

('a', ['h', 'c'], 'd')

In [85]:
# el modificar un elemento de un mutable, no cambia su id()
id(x[1])

4358691976

In [86]:
# esto es un diccionario
d = {'letuce': 'lechuga', 'onion': 'cebolla', 'tomatoe': 'tomate',
    'potatoe':'papa', 'carrot': 'zanahoria', 'celery': 'apio'}
d['carrot']

'zanahoria'

In [87]:
d.keys()

dict_keys(['tomatoe', 'letuce', 'potatoe', 'celery', 'onion', 'carrot'])

In [88]:
d.values()

dict_values(['tomate', 'lechuga', 'papa', 'apio', 'cebolla', 'zanahoria'])

In [89]:
for en_veg in d.keys():
    print(d[en_veg])

tomate
lechuga
papa
apio
cebolla
zanahoria

In [90]:
for k, v in d.items():
    if v == 'zanahoria':
        print(k)

carrot

In [91]:
d.get('banana', 'no existe, pero es plátano')

'no existe, pero es plátano'

In [92]:
# d['banana']   esto produce error de índice

In [93]:
d['banana']='plátano'

In [94]:
d

{'banana': 'plátano',
 'carrot': 'zanahoria',
 'celery': 'apio',
 'letuce': 'lechuga',
 'onion': 'cebolla',
 'potatoe': 'papa',
 'tomatoe': 'tomate'}

### Impresión con formato

En ocasiones necesitamos mostrar datos con cierto formato, esto se puede hacer con format.

In [96]:
"""Facturación de frutas. """
frutas = ['manzana', 'piña', 'pera', 'mango', 'naranja', 'plátano', 'durazno', 'sandía', 'guayaba', 'toronja']
cantidades = [2, 1, .5, 3, 5, 3, 2, 2, 3, 4]
unidades = ["Kg"] * 10  # lista de "Kg"
unidades[1] = unidades[7] = "pieza"  # sólo dos se venden por pieza
precio_unitario = [30, 20, 35, 20, 5, 12, 25, 24, 10, 12]  # en pesos

formato_de_encabezado = "|{:^6}|{:^10}|{:^10}|{:^15}|{:^20}|{:^20}|"
formato_de_linea = "|{:^6}|{:^10}|{:^10}|{:^15}| ${:>18.2f}| ${:>18.2f}|"  # ¿por qué dos formatos?
separador = "-"*88  # línea horizontal
print()
print("{:=^88}".format(" Factura por compra de frutas "))
print()
print(separador)
print(formato_de_encabezado.format("item", "cantidad", "unidad", "concepto", "precio unitario", "subtotal"))
print(formato_de_encabezado.format("-"*6, "-"*10, "-"*10, "-"*15, "-"*20, "-"*20))
total = 0
for indice, fruta in enumerate(frutas):
    precio_parcial = cantidades[indice] * precio_unitario[indice]
    print(formato_de_linea.format(indice + 1, cantidades[indice], unidades[indice], fruta, precio_unitario[indice], precio_parcial))
    total += precio_parcial
print(separador)
print("|{:>65}| ${:>18.2f}|".format("Total:", total))
print(separador)

============================= Factura por compra de frutas =============================

----------------------------------------------------------------------------------------
| item | cantidad |  unidad  |   concepto    |  precio unitario   |      subtotal      |
|------|----------|----------|---------------|--------------------|--------------------|
|  1   |    2     |    Kg    |    manzana    | $             30.00| $             60.00|
|  2   |    1     |  pieza   |     piña      | $             20.00| $             20.00|
|  3   |   0.5    |    Kg    |     pera      | $             35.00| $             17.50|
|  4   |    3     |    Kg    |     mango     | $             20.00| $             60.00|
|  5   |    5     |    Kg    |    naranja    | $              5.00| $             25.00|
|  6   |    3     |    Kg    |    plátano    | $             12.00| $             36.00|
|  7   |    2     |    Kg    |    durazno    | $             25.00| $             50.00|
|  8   |    2     |  pieza   |    sandía     | $             24.00| $             48.00|
|  9   |    3     |    Kg    |    guayaba    | $             10.00| $             30.00|
|  10  |    4     |    Kg    |    toronja    | $             12.00| $             48.00|
----------------------------------------------------------------------------------------
|                                                           Total:| $            394.50|
----------------------------------------------------------------------------------------

In [147]:
"""Facturación de frutas. """
"""
frutas = ['manzana', 'piña', 'pera', 'mango', 'naranja', 'plátano', 'durazno', 'sandía', 'guayaba', 'toronja']
cantidades = [2, 1, .5, 3, 5, 3, 2, 2, 3, 4]
unidades = ["Kg"] * 10  # lista de "Kg"
unidades[1] = unidades[7] = "pieza"  # sólo dos se venden por pieza
precio_unitario = [30, 20, 35, 20, 5, 12, 25, 24, 10, 12]  # en pesos
"""

f=dict()
f['manzana']={'cantidad':2, 'unidad':'Kg', 'precio_unitario':30}
f['piña']={'cantidad':1, 'unidad':'pieza', 'precio_unitario':20}
f['pera']={'cantidad':.5, 'unidad':'Kg', 'precio_unitario':35}


formato_de_encabezado = "|{:^6}|{:^10}|{:^10}|{:^15}|{:^20}|{:^20}|"
formato_de_linea = "|{:^6}|{:^10}|{:^10}|{:^15}| ${:>18.2f}| ${:>18.2f}|"  # ¿por qué dos formatos?
separador = "-"*88  # línea horizontal
print()
print("{:=^88}".format(" Factura por compra de frutas "))
print()
print(separador)
print(formato_de_encabezado.format("item", "cantidad", "unidad", "concepto", "precio unitario", "subtotal"))
print(formato_de_encabezado.format("-"*6, "-"*10, "-"*10, "-"*15, "-"*20, "-"*20))
total = 0
indice = 1
orden = ['piña', 'manzana', 'pera']
for fruta in orden:
    valor = f[fruta]
    precio_parcial = valor['cantidad'] * valor['precio_unitario']
    print(formato_de_linea.format(indice + 1, valor['cantidad'], valor['unidad'], fruta, 
                                  valor['precio_unitario'], precio_parcial))
    total += precio_parcial
    indice += 1
print(separador)
print("|{:>65}| ${:>18.2f}|".format("Total:", total))
print(separador)

============================= Factura por compra de frutas =============================

----------------------------------------------------------------------------------------
| item | cantidad |  unidad  |   concepto    |  precio unitario   |      subtotal      |
|------|----------|----------|---------------|--------------------|--------------------|
|  2   |    1     |  pieza   |     piña      | $             20.00| $             20.00|
|  3   |    2     |    Kg    |    manzana    | $             30.00| $             60.00|
|  4   |   0.5    |    Kg    |     pera      | $             35.00| $             17.50|
----------------------------------------------------------------------------------------
|                                                           Total:| $             97.50|
----------------------------------------------------------------------------------------

In [137]:
diccionario=dict()
diccionario['blanco']=0
diccionario['negro']=1

In [143]:
diccionario.get('blao', 2)

2